/*fuentes de texto*/
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: azure;
    margin: 0;
    text-rendering: optimizeLegibility;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #20B2AA;
    border-bottom: 2px solid #AFEEEE;
    user-select: none;
}

header h1 {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    right: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFE0;
    font-family: "LXGW WenKai TC", cursive;
}

main section {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    min-height: 25px;
    border-bottom: rgb(149, 43, 43) 2px solid;
    background-color: #F5FFFA;
    overflow: hidden;
    font-family: "Chocolate Classical Sans", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
}

main a {
    text-decoration: none;
}

main section .titulo {
    cursor: pointer;
    width: 100%;
    padding-left: 18px;
}

main section #detalles {
    height: 0px;
    display: none;
}

main section #dinero {
    color: #2E8B57;
}

main section .grafica {
    color: rgb(255, 0, 85);
}

main section .historial {
    color: rgb(0, 102, 255);
}

main section .pagos-pendientes {
    color: rgb(47, 63, 87);
}

main section .cuenta {
    color: rgb(91, 54, 165);
}